.hero_section{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 50px;
    background-color: azure;
}

.left_section{
    height: 100%;
    width: 50%;
    position: relative;
}

.left_section .heading{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
}

.left_section .dev{
    color: #444;
    font-size: 17px;
    padding: 10px 0px;
}

.left_section .button{
    width: 100px;
    height: 30px;
    background-color: #00C0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #fff;
    transition: 0.5s linear;
    cursor: pointer;
}

.left_section .button:hover{
    background-color: #ff0059;
}

.right_section{
    height: 100%;
    width: 50%;
    position: relative;
}

.right_section img{
    width: 300px;
    height:300px;
    border-radius: 50%;
    object-fit: cover;
    animation: name 11.5s ease infinite;
}

.right_section img:hover{
    filter: brightness(1);
}

@keyframes name {
    0%{
        box-shadow: rgb(255, 0, 89) 0px 0px 10px 0px;
        border-top-left-radius: 20px;
    }
    25%{
        box-shadow: rgb(5, 188, 23) 0px 0px 10px 0px;
        border-top-right-radius: 20px;
    }
    50%{
        box-shadow: rgb(255, 0, 153) 0px 0px 10px 0px;
        border-bottom-left-radius: 20px;
    }
    75%{
        box-shadow: rgb(11, 8, 177) 0px 0px 10px 0px;
        border-bottom-right-radius: 20px;
    }
    100%{
        box-shadow: rgb(176, 0, 246) 0px 0px 10px 0px;
    }
}